<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Support/IdeaProjects/curaHealthBooking">
        <classes>
            <class name="bookingAptTest.BookingAptTest">
                <methods>
                    <include name="AppointmentProcess"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>